#footer1-6 P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-3 P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-8 P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-a P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-c P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-e P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-g P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-i P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-k P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#features1-5 P {
  text-align: center;
  font-size: 14px;
}
#features1-7 P {
  text-align: center;
  font-size: 14px;
}
#features1-6 P {
  text-align: center;
  font-size: 14px;
  color: #999999;
}
#features1-4 P {
  text-align: center;
  color: #000000;
  font-size: 14px;
}
#footer1-3 P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-j .mbr-navbar__section {
  background: #fac51c;
}
#menu-j .mbr-navbar__hamburger {
  color: #fac51c;
}
#features1-h P {
  text-align: center;
  color: #000000;
  font-size: 14px;
}
#footer1-i P {
  color: #000000;
  text-align: center;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__section {
  background: #fac51c;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-o P {
  color: #000000;
  text-align: center;
}
