#features1-5 P {
  text-align: center;
  font-size: 14px;
}
#features1-7 P {
  text-align: center;
  font-size: 14px;
}
#features1-6 P {
  text-align: center;
  font-size: 14px;
  color: #999999;
}
#features1-4 P {
  text-align: center;
  color: #000000;
  font-size: 14px;
}
#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffcc33;
}
#menu-j .mbr-navbar__section {
  background: #ffcc33;
}
#menu-j .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-i P {
  color: #ffffff;
  text-align: center;
}
#footer1-i B {
  text-align: left;
}
#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffcc33;
}
#menu-l .mbr-navbar__section {
  background: #ffcc33;
}
#menu-l .mbr-navbar__hamburger {
  color: #fac51c;
}
#footer1-o P {
  color: #ffffff;
  text-align: center;
}
#footer1-o B {
  text-align: left;
}
